:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;

    --principal: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--bs-light);
    margin: 0;
    font-family: var(--principal);
}
main{
    margin: 5px;
    text-align: center;
    padding-bottom: 5px;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
p{
    margin: 5px;
}
a{
    text-decoration: none;
}

header{
    padding: 10px;
    background-color: var(--bs-success);
}
header a{

    color:var(--bs-white);

}
h3{
   margin: 10px 0; 
}
.imagen{
    margin: 0 auto;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}   
footer a{
    text-decoration: none;
}

/**Breeds.html*/
#ul_breeds{
    padding:0;
}
#ul_breeds li{
    margin-bottom: 30px;
   
}

#ul_breeds li p{
    font-weight: 700;
}
.separador{
    background-color: var(--bs-green);
    height: 5px;
    width: 5px;
    display: inline-block;
}

/**Breed.html*/
.breed-box{
    text-align: left;
}
.breed-box h1{
    margin-bottom: 10px;
}
.breed-box p{
    font-weight: 600;
}
#breed_img{
    margin: 10px 0;
}
#breed_description{
    text-align: center;
}
#breed_wiki{

}
div#skillset {
    width: 80%;
}